body {
  margin: 0;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: #004030;
  padding: 18px;
}

.panel {
  display: none;
  flex-direction: column;
  border: 1px solid #dcd0a8;
}

.video-container {
  width: 375px;
  height: 211px;
  background: #000;
  border-radius: 6px;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f7f4ea;
  cursor: pointer;
  color: #37353e;
}

#stripBtn {
  display: none;
  width: max-content;
}

#clearBtn {
  display: none;
  width: max-content;
}

.thumb {
  display: flex;
  width: 250px;
  align-items: center;
}
.thumb img {
  width: 250px;
  height: auto;
}
.thumb .meta {
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 13px;
  color: #dcd0a8;
}

@media (max-width: 768px) {
  .panel {
    display: flex;
    padding: 8px;
    margin: 0;
    max-width: 100%;
    height: max-content;
    background-color: #4a9782;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    padding: 8px;
    max-width: 100%;
    height: max-content;
    background-color: #4a9782;
    gap: 8px;
    border: 1px solid #dcd0a8;
  }

  .video-container {
    width: 320px;
    height: 180px;
  }

  select {
    border-radius: 6px;
    appearance: none;
    padding: 8px 40px 8px 10px; /* Space for custom arrow */
    background-image: url(/public/components/arrow-drop-down-line.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px;
  }

  #hiddenCanvas {
    margin-bottom: 16px;
  }
}
